@page
@model KN.B2B.Web.Pages.Private.Masterdata.Industries.EditModel

@{
    ViewData["Title"] = "Edit Industry";
}

<h1>Edit</h1>

<h4>Industry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Industry.Id" />
            <div class="form-group">
                <label asp-for="Industry.Code" class="control-label"></label>
                <input asp-for="Industry.Code" class="form-control" />
                <span asp-validation-for="Industry.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industry.Industry" class="control-label"></label>
                <input asp-for="Industry.Industry" class="form-control" />
                <span asp-validation-for="Industry.Industry" class="text-danger"></span>
            </div>
            <hr />
            <div>
                <button id="save" class="btn btn-success" type="submit">
                    <i class="fas fa-save"></i>
                    Save
                </button>
                |
                @if (Model.Industry.Id == 0)
                {
                    <button disabled class="btn btn-danger" type="reset">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </button>
                }
                else
                {
                    <a class="btn btn-danger" type="reset" asp-page="./Delete" asp-route-id="@Model.Industry.Id">
                        <i class="fas fa-trash-alt"></i>
                        Delete
                    </a>
                }
                |
                <a class="btn btn-secondary" type="reset" asp-page="./Index">
                    <i class="fa fa-list"></i>
                    Back
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @*<script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/unsaved.js" asp-append-version="true"></script>
}
