@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Access requres an B2B email and password.</p>
    <p>Please contact Kenneth Nielsen to receive your password.</p>
    @*<p>B2B Promotion <a href="https://b2bpromotion.com">Everything in Promotion, Gifts, Branding, Giveaways & Merchandise!</a></p>*@
</div>
