@page
@{
    ViewData["Title"] = "Requests";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Power BI</h1>

<hr />

<div>
    <iframe style="height:700px; width:100%;" src="https://app.powerbi.com/view?r=eyJrIjoiNzM5ZGU1ZDYtOTAxMy00ODE3LTllZDQtY2RmMDBlZjQ3NmFlIiwidCI6IjBiYmMwNWFjLTlhM2YtNGY3ZS1hMGZjLWMxNDYzYzZhMGQxZSIsImMiOjl9" frameborder="0" allowFullScreen="true"></iframe>
</div>
